<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <script src="angular.min.js"></script>
    <script src="apps.js"></script>
    <style>
      .message { font-size: 1.5em; font-weight: bold; }
    </style>
  </head>
<body ng-app='LunchCheck'>
   <div class="container" ng-controller='LunchCheckController'>
     <h1>Lunch Checker</h1>

         <div class="form-group">
             <input id="lunch-items" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             ng-model="lunchMenu"
             class="form-control"
             ng-style="{'border':bordercolor}">
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="CheckLunch()">Check If Too Many Items</button>
         </div>
         <div class="form-group message" ng-style="{'color':color}">
           <!-- Your message can go here. -->
           {{checkLunchMessage}}
         </div>
   </div>
 <script>
</body>
</html>